<template name="singleJob">
    <div class="d-flex job-row align-items-center w-100 text-dark single-job">
        <div class="filename-section elipse">
            <i class="far fa-file-excel fa-lg text-success mr-2"></i>
            <span class="">{{fileName}}</span>
        </div>
        <div class="size-section">
            <span class="label">{{humanFileSize}}</span>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-center controls" style="width:415px;">
            {{#if error}}
                <span class="text-danger elipse" title="{{error}}">{{error}}</span>
            {{else}}
                {{#if building}}
                <span class="label mr-1">from</span>
                <div class="dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="btn btn-sm btn-caret btn-outline-secondary text-uppercase dropdown-toggle">
                        <span class="small">
                            {{inputLabel}}
                        </span>
                    </button>
                    <div class="dropdown-menu">
                        {{#each datasetTypes}}
                            <a class="input-select dropdown-item {{isActive ../params.inputUri uri}}"
                                href="#">{{datasetTypeTitle}}</a>
                        {{/each}}
                    </div>
                </div>
                <span class="label mr-1">to</span>
                <div class="dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="btn btn-sm btn-caret btn-outline-secondary text-uppercase dropdown-toggle">
                        <span class="small">
                            {{outputLabel}}
                        </span>
                    </button>
                    <div class="dropdown-menu">
                        {{#each availableOutputs}}
                            <a class="output-select dropdown-item {{isActive ../params.outputUri uri}}"
                                href="#">{{datasetTypeTitle}}</a>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
                {{#with uploader}}
                    <div class="progress progress-bar-striped progress-bar-animated mx-auto" style="width: 200px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.get}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{progress.get}}%;">
                            <span class="sr-only">{{progress.get}}% Complete</span>
                        </div>
                    </div>
                {{/with}}
                {{#if waiting}}
                    <i class="fas fa-spinner fa-pulse"></i>
                {{/if}}
                {{#with currentJob}}
                    {{#if $eq status 'failed' }}                        
                        <span class="text-danger elipse" title="{{failedText}}">{{failedText}}</span>
                    {{/if}}
                    {{#if $eq status 'running' }}
                        <div class="progress progress-bar-striped progress-bar-animated mx-auto" style="width: 200px">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.percent}}"
                                aria-valuemin="0" aria-valuemax="100" style="width: {{progress.percent}}%;">
                                <span class="sr-only">{{progress.percent}}% Complete</span>
                            </div>
                        </div>
                    {{/if}}
                    {{#if $eq status 'completed' }}
                        {{#with outputfile.with}}
                            <a href="{{link}}?download=true" download="{{name}}" target="_parent" type="{{type}}"
                                class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-download fa-sm text-white-50"></i> Download
                            </a>
                        {{/with}}
                    {{/if}}
                {{/with}}
            {{/if}}
        </div>
        <div class="status-section d-flex flex-column align-items-center">
            <span class="ui-badge {{statusClass}}">{{status}}</span>
        </div>
        <div class="remove-section">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- {{#if isDevelopment }}
                <button id="retryJob" class="d-inline-block btn btn-sm btn-warning">
                    <i class="fas fa-redo fa-sm text-white-50"></i>
                </button>
            {{/if}} -->
        </div>
    </div>
    {{#if dragging}}
        {{> dropScreen}}
    {{/if}}
</template>