<template name="uploadForm">
    <div class="text-center">
        <h1 class="display-4 text-dark">Data Converter</h1>
        <input type="file" style="visibility: hidden;" multiple />
        <p class="font-weight-light text-muted text-uppercase smaller">Select data files to convert or drag & drop</p>
        <button id="dropzone" type="button" class="btn btn-primary w-100">
            <span class="mx-4">From Computer</span>
            <i class="fas fa-desktop fa-lg mr-4" style="position: relative;top: 2px;"></i>
        </button>
    </div>
</template>
