<template name="uploadForm">
    <div>
        <input type="file" style="visibility: hidden;" multiple />
        <div id="dropzone" class="text-center">
            {{#with currentUpload}}
                Uploading <b>{{file.name}}</b>:
                <br>
                <div class="progress progress-bar-striped progress-bar-animated mx-auto" style="width: 200px">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.get}}" aria-valuemin="0"
                        aria-valuemax="100" style="width: {{progress.get}}%;">
                        <span class="sr-only">{{progress.get}}% Complete</span>
                    </div>
                </div>
            {{else}}
                <span>Drop a compatible file here, or click to select one.</span>
            {{/with}}
        </div>
    </div>
</template>