#content {
    min-height: 90vh;
}

#dropzone {
    font-size: 1.3rem;
    padding: 15px;
    background-color: 
    span {
        display: inline-block;
    }
}

.file-details {
    font-size: 0.7rem;
    td {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
}

.table-container {
    overflow-x: auto;
}

.job-creator {
    height: 80vh;
}

.smaller {
    font-size: 0.9em;
}