<template name="iderdownCreator">
    <div class="container job-creator">
        <div class="row h-100 align-items-center">
            <div class="offset-sm-2 col-sm-8">
                {{#if hasJobs}}
                    <h6 class="ml-4 font-weight-bold text-primary">Downloads</h6>
                    <div class="job-panel shadow-sm rounded" style="overflow: hidden">
                        <div class="jobs-holder bg-white">
                            {{#each jobs}}
                                {{> iderdownJob}}
                            {{/each}}
                        </div>
                    </div>
                {{/if}}

                <br>
                <br>
                <div class="card shadow">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Create Loc-I ID Download</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        {{> iderdownForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="iderdownForm">
    {{#with context}}
        <form>
            <div class="form-group form-row">
                <div class="col-3">
                    Dataset
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn btn-sm btn-caret btn-outline-secondary text-uppercase dropdown-toggle w-100">
                            <span class="small">
                                {{outputDataset}}
                            </span>
                        </button>
                        <div class="dropdown-menu">
                            {{#each outputDatasets}}
                                <a class="output-select dropdown-item {{isActive ../params.outputUri uri}}"
                                    href="#">{{title}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-1 text-center">
                    -
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn btn-sm btn-caret btn-outline-secondary text-uppercase dropdown-toggle w-100 ">
                            <span class="small">
                                {{outputSubType}}
                            </span>
                        </button>
                        <div class="dropdown-menu">
                            {{#each outputSubTypes}}
                                <a class="output-sub-type-select dropdown-item {{isActive ../params.outputSubTypeUri uri}}"
                                    href="#">{{title}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-3">
                    Filter by parent
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn btn-sm btn-caret btn-outline-secondary text-uppercase dropdown-toggle w-100 disabled">
                            <span class="small">
                                {{filterDataset}}
                            </span>
                        </button>
                        <div class="dropdown-menu">
                            {{#each filterDatasets}}
                                <a class="filter-select dropdown-item {{isActive ../params.filterUri uri}}"
                                    href="#">{{title}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-1 text-center">
                    -
                </div>
                <div class="col-4">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn btn-sm btn-caret btn-outline-secondary text-uppercase dropdown-toggle w-100">
                            <span class="small">
                                {{filterSubType}}
                            </span>
                        </button>
                        <div class="dropdown-menu">
                            {{#each filterSubTypes}}
                                <a class="filter-sub-type-select dropdown-item 
                                {{isActive ../params.filterSubTypeUri uri}} 
                                {{isFilterSubTypeDisabled ../params uri}}" href="#">{{title}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col-3">
                    Ids
                </div>
                <div class="col-9">
                    <textarea class="form-control" id="idTextArea" rows="3" wrap="off"
                        placeholder="e.g http://linked.data.gov.au/dataset/asgs2016/meshblock/50055290000">{{params.idText}}</textarea>
                </div>
            </div>
            <button id="submitIdJob" type="button" class="btn btn-primary ml-auto d-block" {{isDisabled}}>
                <span class="mx-4">Submit</span>
                <!-- <i class="fas fa-desktop fa-lg ml-auto mr-4" style="position: relative;top: 2px;"></i> -->
            </button>
        </form>
    {{/with}}
</template>